.container {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: auto;
  animation: fadeIn 0.3s ease-in-out;
}

.multipleItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.item {
  cursor: pointer;
  width: 95%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  background-color: #eceaea;
  box-shadow: 0px 0px 12px 0.3px #dcdcdc6d;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
