.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.detailsContainer {
  box-shadow: 0px 0px 12px 0.3px rgba(255, 255, 255, 0.25);
  padding: 22px;
  border-radius: 22px;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
