.container {
  display: flex;
  background-color: #585858;
  align-self: center;
  border-radius: 25px;
  width: calc(120px * 3);
  height: 60px;
}

.button {
  background-color: #585858;
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  color: #f5f5f7;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  transition: 0.15s ease-in-out all;
}
.button:hover {
  background-color: #f5f5f7;
  color: #1d1d1f;
  box-shadow: 0px 0px 10px 0.2px rgba(255, 255, 255, 0.25);
}

.selected {
  background-color: #f5f5f7;
  color: #1d1d1f;
  box-shadow: 0px 0px 10px 0.2px rgba(255, 255, 255, 0.25);
  transition: 0.15s ease-in-out all;
}
